@model TwitterProject.Models.PostHashtag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostHashtag</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hashtags.texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hashtags.texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posts.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posts.Texto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
